<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script type="text/javascript"></script>

    <button type="button" onclick="alert('Bem Vindo!')"> Clique aqui </button>
    <button type="button" onmouseover="alert('Bem Vindo! - Passando o mouse')"> Clique aqui </button>
    <button type="button" onmouseout="alert('Bem Vindo! - Tirando o mouse')"> Clique aqui </button>
    <button type="button" ondblclick="('Bem Vindo! - Duplo clique')"> Clique aqui </button>
</body>

</html>